body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-shadow: 0px 0px 5px #123456;
	height: 100vh;
	background:
		linear-gradient(-135deg, rgb(136, 136, 173) 10%, transparent),
		repeating-linear-gradient(45deg, rgb(170, 193, 240) 0%, rgba(31, 48, 94, 0.6) 5%, transparent 5%, transparent 10%),
		repeating-linear-gradient(-45deg, rgba(11, 11, 12, 0.4) 0%, rgba(31, 48, 94, 0.5) 5%, transparent 5%, transparent 10%);
	background-color: rgba(135, 160, 206, 0.25);
  }
  /* What kind of selector is this? */
  .logo {
    width: 180px;
    height: 170px;
    margin: 0 auto;}

    

  header {
    display: grid;
    grid-template-columns: 25% 70%;
    width: 100%;
    align-items: center;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

/* This is an element within and element selector */ 
  body {
    font-size: 12px;
    font-family: sans-serif;
  }
  nav > a {
    text-decoration: none;
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: black;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
  }
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
  }
  
  p {
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      color: #ecf0f1;
      font-family: 'Cherry Swash',cursive;
      font-size: 16px;
  }
  
  span {
      color: #2BD6B4;
  }

  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 250px;
    height: 300px;
    border-radius: 50%;
    margin: 5% auto;
    grid-column: 2/3;
  }

  h1 {
    color: white;
    grid-column: 2/3;
    margin: 1% auto;
    border-bottom: 2px dashed white;;
  }

  h2 {
    grid-column: 2/3;
    margin: 1% auto;
    font-style: italic;
  }

  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }

  button {
  grid-column: 2/3;
  position: relative;
  color: #f4f5f8 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: black;
	padding: 8px;
	border: 2px solid white !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
  font-size: 20px;
  }
  button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;

  }
  nav > a:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;

  }
  